<p id="notice"><%= notice %></p>

<h1>Compatible Consoles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compatible_consoles.each do |compatible_console| %>
      <tr>
        <td><%= compatible_console.name %></td>
        <td><%= link_to 'Show', compatible_console %></td>
        <td><%= link_to 'Edit', edit_compatible_console_path(compatible_console) %></td>
        <td><%= link_to 'Destroy', compatible_console, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compatible Console', new_compatible_console_path %>
