<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<% @game.consoles.each do |console| %>
    <p>
    <strong>Console:</strong>
    <%= console.name %>
    </p>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>